.time{
    position: fixed;
    top:25%;
    bottom:25%;
    left:20%;
    right:20%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 5rem;
}
.description{
    margin-top: 0;
    margin-left:20%;
    margin-right:20%;
    padding-top: 30px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
@media only screen and (max-width: 1000px){
    .time{
        font-size: 4rem;
        top:30%;
        bottom:20%;
    }
}
@media only screen and (max-width: 800px){
    .time{
        font-size: 3rem;
        top:30%;
        bottom:20%;
    }
}
@media only screen and (max-width: 600px){
    .time{
        font-size: 2.3rem;
        top:40%;
        bottom:20%;
    } 
}
