.time{
    /* height: 500px; */
    /* width: 800px; */
    /* margin:auto auto; */
    position: fixed;
    top:25%;
    bottom:25%;
    /* top:90%; */
    left:20%;
    right:20%;
    /* padding-top: 25%; */
    /* margin-bottom: auto; */
    /* align-items: center; */
    /* padding-top: 70px; */
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 5rem;
}

@media only screen and (max-width: 1000px){
    .time{
        font-size: 4rem;
        top:30%;
        bottom:20%;
    }
}
@media only screen and (max-width: 800px){
    .time{
        font-size: 3rem;
        top:30%;
        bottom:20%;
    }
}
@media only screen and (max-width: 600px){
    .time{
        font-size: 2rem;
        top:40%;
        bottom:20%;
    } 
}
